* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --icons-color: #f0ebfc;
  --main-transition: 0.3s;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  height: 6000px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} */

/* header */
header {
  position: fixed;
  width: 100%;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  z-index: 999;
}

nav {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 5%);
}

header .bar i {
  cursor: pointer;
}

header .search form {
  width: 345px;
}

header .search form input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--icons-color);
  padding: 8px 30px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .search form input:focus {
  box-shadow: 1px 1px 10px rgb(124 77 255 /70%);
}

header .search form i {
  position: absolute;
  left: 9px;
  top: 10px;
  font-size: 15px;
}

header .navt a {
  position: relative;
}

header .navt .btn-bell {
  color: var(--black-color);
  font-size: 20px;
  animation: bell-ring 2s infinite;
  -webkit-animation: bell-ring 2s infinite;
}

@keyframes bell-ring {
  0%,
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  5%,
  15% {
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
  }

  10%,
  20% {
    transform: rotate(-25deg);
  }

  25% {
    transform: rotate(0deg);
  }
}

.notification-count {
  position: absolute;
  font-size: 13px;
  background-color: #f50057;
  color: var(--white-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .navt a .notification-count {
  top: -8px;
  left: 9px;
}

header .user-area .logo-img {
  width: 28px;
  height: 28px;
}

.logo-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .user-area span i {
  font-size: 10px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  min-width: 160px;
  background-color: var(--white-color);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 9%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
}

.dropdown-menu li a {
  display: block;
  padding: 8px 15px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.dropdown-menu li a:hover {
  background-color: #f5f5f5;
}

.show {
  display: block !important;
}

/* dashboard content */
.dashboard-content {
  display: grid;
  margin-top: 75px;
  grid-template-columns: 15% 85%;
  background-color: #f1f5f8;
  overflow: hidden;
  height: 100%;
}

.dashboard-content.hide-side-bar {
  grid-template-columns: 5% 95%;
}

/* sidebar */
.sidebar {
  background-color: #eef0f1;
  padding-top: 35px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  width: 15%;
  z-index: 998;
}

.hide-side-bar .sidebar {
  width: 5%;
}

.sidebar .user-info .logo-img {
  width: 60px;
  height: 60px;
}

.sidebar .user-info .notification-count {
  left: 50%;
  transform: translateX(100%);
  top: 0;
}

.sidebar .user-info .notification-count::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(245 0 87 / 70%);
  animation: outline linear 1s infinite;
  -webkit-animation: outline linear 1s infinite;
  z-index: -1;
}

@keyframes outline {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    opacity: 0;
  }
}

.sidebar .user-info h5 {
  font-size: 20px;
  color: #3a3a3a;
  font-weight: bold;
}

.sidebar .user-info p {
  color: #737474;
  font-size: 14px;
}

.sidebar .user-info .user-icons li i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00e5ff;
  color: var(--black-color);
}

.hide-side-bar .sidebar .user-info h5,
.hide-side-bar .sidebar .user-info p,
.hide-side-bar .sidebar .user-info .user-icons {
  display: none;
}

.sidebar .menus {
  margin-top: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

.sidebar .menus > ul > li:not(:last-child) {
  margin-bottom: 25px;
}

.sidebar .menus > ul > li i {
  font-size: 20px;
}

.sidebar .menus > ul > li > a {
  position: relative;
  display: block;
  padding: 10px 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  display: flex;
  align-items: center;
}

.hide-side-bar .sidebar .menus > ul > li > a {
  font-size: 0;
}

.sidebar .menus > ul > li > a.active,
.sidebar .menus > ul > li > a:hover {
  border-left: 2px solid #f50057;
  background-image: linear-gradient(to right, #e3bac9, transparent);
}

.sidebar .menus > ul > li > a span {
  position: absolute;
  background-color: #00e5ff;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
  right: 0;
  font-weight: bold;
  line-height: 25px;
}

.hide-side-bar .sidebar .menus > ul > li > a span {
  display: none;
}

.sidebar .menus .dropdown-menu {
  position: static;
  background-color: inherit;
  box-shadow: none;
  padding-left: 45px;
}

.hide-side-bar .sidebar .menus .dropdown-menu {
  position: absolute;
  left: 100%;
  padding: 0;
  top: -9px;
  background-color: #eef0f1;
}

.sidebar .menus .dropdown-menu > li:not(:last-child) {
  margin-bottom: 10px;
}

/* body content */
.body-content {
  margin-left: 255px;
  padding: 50px 40px;
  /* height: 100vh; */
  position: relative;
  /* width: 85%; */
  width: 100vw;
  margin: 0 -20px;
}

/* top bar */
.body-content .top-bar {
  background-color: var(--white-color);
  grid-template-columns: 20% 70% 10%;
  margin: 0 280px;
  margin-right: 0;
}

.body-content .top-bar select {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 50%);
  padding: 8px 15px;
  font-family: inherit;
  font-size: inherit;
}

/* landing head */
.landing .head,
.landing .cards {
  margin: 0 280px;
  margin-right: 0;
}

.landing .head div h3 {
  font-size: 22px;
}

.view-all-btn {
  background-color: #00d67e;
  color: var(--white-color);
  font-weight: bold;
  padding: 5px 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.view-all-btn:hover {
  background-color: var(--black-color);
}

/* cards */
.landing .cards {
  margin-top: 20px !important;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.landing .cards .card-item.blue {
  background-color: #3d97fd;
}

.landing .cards .card-item.moov {
  background-color: #bb79fe;
}

.landing .cards .card-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landing .cards .card-item.blue::before {
  background-image: linear-gradient(360deg, #3d97fd59, transparent);
}
.landing .cards .card-item.moov::before {
  background-image: linear-gradient(360deg, #7025bc7d, transparent);
}

.landing .cards .card-item .top-card-icons {
  margin-bottom: 40px;
}

.landing .cards .card-item .top-card-icons li {
  background-color: #16475d;
  color: var(--white-color);
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.landing .cards .card-item .top-card-icons span {
  margin-left: 5px;
}

.landing .cards .card-item .top-card-icons .stars i {
  color: #ffdc64;
}

.landing .cards .card-item .top-card-icons .stars i:not(:last-child) {
  margin-right: 5px;
}

.landing .cards .card-item .thumb {
  margin-bottom: 50px;
}

.landing .cards .card-item .thumb .image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  outline: 3px solid #88bff9;
  position: absolute;
  top: 0;
  left: 0;
}

.landing .cards .card-item .thumb .image img {
  width: 100%;
  height: 100%;
}

.landing .cards .card-item .thumb .text {
  color: var(--white-color);
  padding-left: 45px;
}

.landing .cards .card-item .thumb .text h3 {
  font-size: 20px;
}

.landing .cards .card-item a {
  text-decoration: underline;
  color: var(--white-color);
  font-weight: bold;
}

.landing .cards .card-item .main-img {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
